body {
    padding: 0px;
    margin: 0px;
}

.facts {
    display: flex;
    justify-content: center;



    width: 100%;
    height: 900px;


    background-color: #006064;

    color: #b2ebf2;
    font-size: 30px;
    text-shadow: 3px 3px 15px black;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
    // padding-top: 10PX;
    font-weight: bold;

    .table {
        width: 700px;
        text-align: center;
    }

    hr {
        border: 1px solid #4dd0e1;
    }
}

.navigation {
    display: flex;
    flex-direction: column;
    background-color: #293629;
    width: 800px;
}

.loader {
    margin: auto;
    padding-top: 350px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.history {
    font-size: 28px;
    text-align: center;
    height: 80px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.paper {
    display: flex;
    flex-basis: auto;
    margin-top: 8px;

    height: 35px;
    justify-items: center;
    width: 250px;


    .base {
        justify-items: center;

        height: 30px;
        padding-top: 11px;
        padding-left: 15px;
        font-size: 22px;
        color: dodgerblue;

    }
}



.place {

  
    text-align: center;
    width: 900px;
    height: 430px;
    margin: auto;
    background-color: #bdd8ee;
 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';

    padding-top: 10px;
    margin-top: 10px;


    .search {
        width: 250px;
        margin: auto;
        background-color: #add3f1;
        padding: auto;
    }


}


.drzava {
    cursor: pointer;

    &:hover {
        color: rgb(255, 221, 86);
        font-weight: bold;
        text-shadow: 2px 2px 12px black;
    }
}



.tabelaZemlje {

    margin: auto;



    width: 800px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    .razmak {
        height: 70px;
    }

    .results {
        background-color: #bbdefb;
        font-size: 18px;
    }

    .navod {
        font-size: 24px;

        display: flex;
        align-content: flex-start;

        width: 120px;
        padding-left: 5px;
    }

    tr {
        &:nth-child(even) {
            background-color: #e5e4e7;
        }
    }

    .nameComm {
        font-size: 28px;
        width: 650px;
        padding-left: 5px;
    }

    .history {
        font-size: 28px;
        text-align: center;
        height: 60px;
    }

    .celebrity {
        text-transform: capitalize;
        text-align: left;
    }

    .celebrity,
    .networth {
        font-weight: bold;
        font-size: 30px;
    }

    .historyPerson {
        font-weight: bold;
        font-size: 30px;
        cursor: pointer;

        &:hover {
            text-shadow: 1px 1px 3px #64b5f6;
        }


    }

    .dictionary {
        width: 800px;
        font-size: 28px;
        padding-left: 10px;
    }

    .nameComm {
        font-size: 24px;

        ul {
            padding: 0;
        }

        li {
            list-style: none;
            padding: 0;
        }
    }

    .more {
        display: block;
        align-items: end;
        width: 120px;
        // text-align: right;
        color: #1976d2;
        cursor: pointer;
        font-size: 24px;

        &:hover {
            color: #64b5f6;
        }
    }

    img {
        width: 700px;
    }

    .imgRobot {
        width: 300px;
    }

    hr {


        border: 2px solid #6a757e;
    }

    td {
        font-size: 24px;
    }


}

.mainDiv {
    background-color: #ffe0b2;

}







.jokesMain {
    background-color: #b2ebf2;
    width: 400px;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    th {
        font-size: 32px;
    }

    td {
        padding: 25px;
        font-size: 34px;
        font-family: 'Arial Narrow Bold', sans-serif;

        img {
            width: 500px;
        }
    }

    .borderGif {
        border-bottom: 2px solid rgb(103, 103, 188);
    }

    .pun {
        text-align: center;
        font-size: 34px;
        font-weight: bold;
    }
}

.jokesText {
    display: flex;
    justify-content: space-around;
    width: 1700px;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    th {
        font-size: 32px;
    }

    td {
        padding: 25px;
        font-size: 34px;
        font-family: 'Arial Narrow Bold', sans-serif;

    }

    .created {
        font-size: 18px;
    }
}





.poznatiMain {
    margin: auto;
    display: flex;
    justify-content: space-around;
    border: 2px solid black;
    width: 1200px;
    height: 1650px;
}



.punapi {
    width: 500px;
    border-radius: 10px;
    background-color: #fff8e1;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    th {
        font-size: 28px;
        color: rgb(43, 127, 127);
        text-align: center;
    }

    td {
        font-size: 28px;
        padding: 2px 20px;
    }
}

.jokeMain {
    border-radius: 12px;
    width: 500px;
    // height: 500px;
    margin: auto;
    background-color: #f9fbe7;
    padding: 20px 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    .jokeAnswer,
    .jokeAns {
        font-weight: bold;
        font-size: 28px;
        color: #1a237e;
    }

    .jokeAnswer {
        &:hover {
            color: #ff8f00;
        }
    }
}

.trivia {
    width: 600px;
    height: 900px;
    margin: auto;
    background-color: #bdd8ee;
    padding: 30px 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    .category {
        width: 300px;
        height: 40px;
        margin-top: 10px;
        background-color: #80deea;
        border-radius: 7px;
        font-size: 24px;
        padding: 5px 15px;
        cursor: pointer;

        &:hover {
            background-color: #26c6da;
        }
    }

    .triviaAnswer {
        &:hover {
            color: #388e3c;
        }
    }

    .triviaAnswer,
    .triviaAns {
        font-weight: bold;
        font-size: 28px;
        color: #1a237e;
    }
}

.dadJokes {
    background-color: #c8e6c9;
    width: 500px;
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    .border {
        border-bottom: 1px solid #4db6ac;


    }

    .borderChuk {
        border-bottom: 1px solid #4db6ac;

        font-size: 20px;
    }



    img {
        width: 700px;
        text-align: center;
    }
}


.footer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    padding-top: 450px;
    height: 480px;
}


.metropolitanMain {
    font-family: Tahoma, sans-serif;
    margin: auto;
    width: 900px;
    .tableRow {
        width: 900px;
     
    }

    .results {
        padding: 15px;
        font-size: 20px;
    }

    .metroTitle {
        text-align: center;
        font-weight: bold;
        font-size: 28px;
    }

    .forLink {
        text-align: center;
        font-size: 16px;
    }

    .imgMetro {
        width: 900px;
        border-radius: 5px;
    }

    td {
        font-size: 24px;
        width: 900px;
        padding: 7px;
    }

    .dropdown {
        font-size: 30px;
        font-weight: bold;

        text-align: center;

        position: relative;
        display: inline-block;
        cursor: pointer;

        .dropdown-content {
            display: none;
            font-size: 22px;
            font-weight: lighter;
            position: absolute;


            background-color: #f9f9f9;
            min-width: 40px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            padding: 1px 20px;

            // z-index: 1;
            a {
                font-size: 16px;
            }

        }

        &:hover {
            color: #fdc714;
            text-shadow: 2px 2px 7px black;
        }

        &:hover .dropdown-content {
            display: block;
            color: black;
            text-shadow: none;


        }
    }
}

@media screen and (max-width: 500px) {

    .place {
        margin: 0;
        display: flex;
        flex-direction: column;
        width: 350px;

    }

    .jokesText {
        display: block;
        width: 350px;

        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

        th {
            font-size: 22px;
        }

        td {
            padding: 8px;
            font-size: 20px;


        }
    }

    .trivia {
        width: 350px;

        .triviaAnswer {
            font-size: 22px;

        }

        .triviaAns {
            font-size: 22px;
        }

        .category {
            font-size: 20px;
            height: 36px;
        }
    }

    .facts {

        font-size: 18px;
        text-shadow: 1px 1px 3px black;

        .table {
            width: 340px;

            td {
                padding: 0px 5px;
            }

        }
    }

    .jokeMain {
        width: 350px;
        border-radius: 0;

        .jokeAnswer {
            font-size: 22px;

        }

        .jokeAns {
            font-size: 22px;
        }


    }

    .tabelaZemlje {
        width: 350px;

        .razmak {
            height: 20px;
        }

        .history,
        .historyPerson {
            font-size: 20px;
            height: 40px;
        }


        .celebrity {
            font-size: 22px;
            padding-left: 8px;
        }

        .dictionary {
            padding-left: 8px;
            font-size: 20px;
        }

        img {
            width: 348px;
        }

        .imgRobot {
            width: 200px;
        }

        .navod,
        .more {
            padding-left: 4px;
            font-size: 16px;
            width: 95px;
        }

        .nameComm {
            padding-left: 4px;
            font-size: 20px;
            width: 255px;
        }

        .networth {
            font-size: 24px;
        }
    }

    .dadJokes {

        width: 350px;
        font-size: 18px;

        .created {
            font-size: 14px;
        }

        hr {
            border: 1px solid;
        }
    }

    .mainJoke {
        width: 350px;
        font-size: 20px;
    }

    .jokesMain {

        width: 350px;
        border-radius: 0;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

        th {
            font-size: 20px;
        }

        td {
            padding: 15px;
            font-size: 20px;


            img {
                width: 348px;
            }
        }

        .pun {
            font-size: 22px;
        }
    }
    .metropolitanMain {
       
        width: 350px;
        .tableRow {
            width: 350px;
         
        }
    
        .results {
            padding: 7px;
            font-size: 18px;
        }
    
        .metroTitle {
            text-align: center;
            font-weight: bold;
            font-size: 22px;
        }
    
        .forLink {
            text-align: center;
            font-size: 10px;
        }
    
        .imgMetro {
            width: 350px;
            border-radius: 5px;
        }
    
        td {
            font-size: 17px;
            width: 350px;
            padding: 2px;
        }
    
        .dropdown {
            font-size: 24px;
            font-weight: bold;
    
            text-align: center;
    
            position: relative;
            display: inline-block;
            cursor: pointer;
    
            .dropdown-content {
                display: none;
                font-size: 18px;
                font-weight: lighter;
                position: absolute;
    
    
                background-color: #f9f9f9;
                min-width: 40px;
                max-width: 300px;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                padding: 1px 10px;
    
                // z-index: 1;
                a {
                    font-size: 10px;
                }
    
            }
    
            &:hover {
                color: #fdc714;
                text-shadow: 2px 2px 7px black;
            }
    
            &:hover .dropdown-content {
                display: block;
                color: black;
                text-shadow: none;
    
    
            }
        }
    }

}