@import '../scss/cssreset';
@import '../scss/_pokemons.scss';


body {
    padding: 0px;
    margin: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navigator {
    margin: auto;
    width: 900px;
    background-color: #bbdefb;
    height: 45px;


    .fixed {
        width: 900px;
        position: fixed;
        height: 45px;
        background-color: #bbdefb;
        z-index: 1;
    }
}

.home {
    margin: auto;
    width: 900px;
    background-color: #006064;
    position: relative;

    .imgHold {
        text-align: center;

        width: 900px;
    }

    .welcom {
        color: rgb(70, 146, 131);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 42px;
        font-weight: bold;
        text-align: center;
        text-shadow: 1px 1px 2px #00292a;
    }


}

.facts {
    margin: auto;
    justify-items: center;
    flex-direction: column;
    width: 100%;
    background-color: #006064;
    color: #b2ebf2;
    font-size: 30px;
    text-shadow: 3px 3px 15px black;
    font-weight: bold;

    .table {
        padding: 20px;
        margin: auto;
        width: 600px;
        text-align: center;
        padding: 10px;

        h1 {
            padding: 30px;
            font-size: 40px;
        }

        h3 {
            padding: 20px;
        }

        .category {
            padding: 10px;
            text-align: left;
            font-size: 24px;
        }

        .author {
            padding: 30px 20px;
            cursor: pointer;
            font-size: 26px;
            text-align: right;
            padding-bottom: 20px;
            color: #9fefd6;

            &:hover {
                color: rgb(255, 221, 86);
                font-weight: bold;
                text-shadow: 2px 2px 8px black;
            }
        }

    }

    hr {
        border: 1px solid #4dd0e1;
    }
}

.navigation {
    display: flex;
    flex-direction: column;
    background-color: #293629;
    width: 800px;
}

.loader {
    margin: auto;
    // padding-top: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bdd8ee;
    width: 900px;
    height: 850px;


}

.history {
    font-size: 28px;
    text-align: center;
    height: 80px;
}

.paper {
    display: flex;
    flex-basis: auto;
    margin-top: 8px;
    height: 35px;
    justify-items: center;
    width: 300px;

    .base {
        justify-items: center;
        height: 30px;
        padding-top: 11px;
        padding-left: 15px;
        font-size: 22px;
        color: dodgerblue;

    }
}



.place {
    text-align: center;
    width: 900px;
    height: 600px;
    margin: auto;
    background-color: #bdd8ee;


    .search {
        width: 300px;
        margin: auto;
        background-color: #add3f1;
    }
}


.drzava {
    cursor: pointer;

    &:hover {
        color: rgb(255, 221, 86);
        font-weight: bold;
        text-shadow: 2px 2px 12px black;
    }
}

.tabelaZemlje {
    margin: auto;
    width: 900px;
    background-color: #bbdefb;
    min-height: 80px;

    .razmak {
        height: 70px;
    }

    .results {
        background-image: linear-gradient(rgb(118, 169, 220), #bbdefb);
        height: 40px;
        padding: 10px;
        font-size: 22px;
        width: 800px;

        th {
            padding: 15px;
        }
    }

    .navod {
        font-size: 22px;
        color: gray;
        display: flex;
        align-content: flex-start;
        width: 250px;
        padding-left: 15px;
        padding-top: 8px;
    }

    .statement {
        font-size: 22px;
        color: gray;
        text-align: left;
        max-width: 350px;
        padding: 8px 15px;

    }

    .statement1 {
        font-size: 22px;
        color: gray;
        padding: 10px;
        text-align: left;
    }

    .imgAnimals {
        padding-top: 10px;
        text-align: center;
    }

    .nameComm,
    .nameLink {
        font-size: 28px;
        padding-top: 8px;
        width: 650px;
        padding-left: 10px;
        padding-right: 15px;
        vertical-align: bottom;
    }

    .nameLink {
        font-size: 28px;
        cursor: pointer;
        color: #276aad;

        &:hover {
            color: #64b5f6;
        }
    }

    .nameComm {
       vertical-align: top;

        ul {
            li {
                padding: 3px 0px;
                list-style: none;
            }
        }
    }

    .nameComm2 {
        font-size: 28px;
        padding-top: 8px;
        max-width: 650px;
        min-width: 650px;
        padding-left: 10px;
        padding-right: 15px;
        vertical-align: bottom;
        overflow: hidden;
    }
 

    .link {
        overflow: hidden;
        text-overflow: ellipsis;
        padding-left: 10px;
        max-width: 380px !important;
        padding-top: 6px;

        a {
            text-decoration: none;
            color: #276aad;
            font-size: 28px;
            vertical-align: text-bottom;

            &:hover {
                color: #64b5f6;
            }
        }
    }

    .history {
        font-size: 28px;
        text-align: center;
        height: 60px;
        padding: 10px;
    }

    .celebrity {
        text-transform: capitalize;
        text-align: left;
        padding: 10px 0px;
        padding-left: 25px;
    }

    .phon {
        display: flex;
        text-transform: capitalize;
        text-align: left;
        padding: 10px 25px;
        font-weight: bold;
        font-size: 28px;
    }

    .celebrity,
    .networth {
        font-weight: bold;
        font-size: 28px;

    }

    .location {
        width: 250px;
        font-size: 22px;
        padding: 10px 15px;
    }

    .networth {
        padding-left: 20px;
    }

    .historyPerson {
        text-transform: capitalize;
        font-weight: bold;
        color: #014780;
        font-size: 30px;
        cursor: pointer;
        padding-right: 15px;

        &:hover {
            color: #64b5f6;
        }
    }

    .phonetics {
        font-size: 16px;
        background-color: #bcd0df;
        border: 1px solid grey;
        border-radius: 5px;
        margin-left: 10px;
        max-width: 150px;
        cursor: pointer;
        overflow: hidden;
    }

    .logoImg {
        padding-left: 25px;
        max-width: 300px;
    }

    .dictionary {
        width: 800px;
        font-size: 28px;
        padding: 5px 20px
    }

    .more {
        display: block;
        align-items: end;
        padding-left: 15px;
        width: 120px;
        // text-align: right;
        color: #1976d2;
        cursor: pointer;
        font-size: 24px;

        &:hover {
            color: #64b5f6;
        }
    }

    img {
        width: 700px;
    }

    .imgRobot {
        width: 300px;
    }

    hr {
        border: 2px solid #91afc8;
    }

    td {
        font-size: 24px;
    }

    .colorHex {
        font-size: 22px;
        width: 300px;
        height: 60px;
        cursor: copy;
    }

    .colorBut {
        text-align: center;
        border-radius: 10px;
        width: 100px;
        background-color: #64b5f6;
        height: 45px;
        font-size: 22px;
        padding: 10px;
        cursor: pointer;

        &:hover {
            background-color: #1976d2;
            color: #64b5f6;
        }
    }
}

.videoTop {
    height: 40px;
}

.mainBook {
    margin: auto;
    width: 900px;
    background-color: #bbdefb;
    text-align: center;

    .picture {
        max-width: 660px;
        padding: 10px;
    }

    .tags {
        display: flex;

        width: 900px;
        justify-content: center;
        font-size: 18px;
        gap: 10px;
        margin: auto;
        padding-bottom: 10px;
        overflow: hidden;
    }

    .total {
        font-size: 24px;
        text-align: center;
        padding: 30px;
        background-image: linear-gradient(rgb(118, 169, 220), #bbdefb);
    }

    .author {
        text-transform: capitalize;
        font-weight: bold;
        color: #014780;
        font-size: 30px;
        cursor: pointer;
        text-align: center;
        padding: 20px;

        &:hover {
            color: #64b5f6;
        }
    }

    .titleBook {
        font-size: 30px;
        text-align: center;
        padding: 15px 20px;
    }

    .bornDate {
        display: flex;
        font-size: 22px;
        padding: 10px 20px 0px 20px;
    }

    .imgBook {
        margin: auto;
        width: 800px;
        text-align: center;
    }

    .sentence {
        font-size: 22px;
        padding: 20px;
        text-align: justify;
    }

    .subject {
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 2px;
        padding: 10px;
        font-size: 16px;

        p {
            margin: 0;
            width: 220px;
            padding: 2px 10px;
            overflow: hidden;
            text-align: left;
        }

        .work {
            margin: 0;
            width: 220px;
            padding: 2px 10px;
            text-align: left;
            color: #014780;
            cursor: pointer;

            &:hover {
                color: #64b5f6;
            }


        }
    }

    .publisher {
        padding: 5px 20px;
        font-size: 14px;
        text-align: justify;
    }

    hr {
        margin: 0;
    }

    .moreCovers {
        cursor: pointer;
        font-size: 22px;
        padding: 5px;
        color: #014780;

        &:hover {
            color: #64b5f6;
        }
    }

    .cover {
        display: none;
    }

    .coverOpen {
        width: 900px;
        padding: 6px;
        border: 2px solid #014780;
        background-color: aliceblue;
        display: grid;
        gap: 6px;
        grid-template-columns: auto auto auto auto auto;
        // grid-template-columns: repeat(auto-fill, minmax(143px, 1fr));

        .imgContainer {
            display: flex;
            justify-content: center;
            align-items: center;

            &:empty {
                display: none;
            }
        }

        .imgCovers {
            width: 153px;
            height: auto;

        }
    }
}

.listVideo {
    margin: auto;
    width: 900px;
    display: grid;
    grid-template-columns: auto auto;
    background-color: #bbdefb;

    .content {
        width: 450px;
        text-align: center;
        padding: 15px;

        img {
            width: 420px;
        }

        .titleVideo {
            font-size: 22px;
            text-align: center;
            padding: 15px;
        }

        .link {
            font-size: 18px;
            text-align: right;

            a {
                text-decoration: none;
                color: #014780;
                cursor: pointer;

                &:hover {
                    color: #64b5f6;
                }
            }
        }
    }
}


@font-face {
    font-family: fontnyt;
    src: url("../../public/Chomsky-8MOa2.otf");
}

.nytFont {

    margin: auto;
    width: 900px;
    font-family: fontnyt;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 48px;
    color: whitesmoke;
    background-image: linear-gradient(#013441, #ADDFAD);
    padding: 10px;
    text-align: center;

    .paper {
        display: flex;
        margin-top: 8px;
        height: 35px;
        justify-items: baseline;
        width: 300px;

        .base {
            justify-items: center;
            height: 30px;
            padding-top: 20px;
            padding-left: 15px;
            font-size: 22px;
            color: dodgerblue;
        }
    }

    div {
        padding: 30px;
    }

    .archive {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 32px;
        color: #293629;
    }
}

.tableNYT {
    background-color: #ADDFAD;
    margin: auto;
    width: 900px;

    .nytName {
        font-size: 25px;
        padding: 20px;
        font-weight: bold;
        background-color: #013441;
        color: whitesmoke;
        text-align: center;
    }

    .nytTitle {
        font-size: 25px;
        font-weight: 900;
        padding: 15px;
        text-align: center;
    }

    .nytAbs {
        padding: 10px 20px;
        font-size: 24px;
    }

    .nytPar {
        padding: 5px 20px;
        font-size: 22px;
    }

    .nytDate {
        display: flex;
        padding: 10px 30px;
        font-size: 14px;
        justify-content: space-between;
    }

    .imgHold {
        text-align: center;
        padding-top: 15px;

        .nytImg {
            width: 880px;
        }
    }
}

.imageNum {
    margin: auto;
    display: flex;
    width: 900px;
    overflow-x: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(#dfeefa, #cdedf7);

    .numbIm {
        padding: 8px;
        text-align: center;
        font-size: 22px;
        font-weight: 500;
        color: #014780;
        cursor: pointer;

        &:hover {
            color: #64b5f6;
        }

        &:active {
            color: rgb(20, 188, 5);
        }
    }

    .numbActIm {
        text-align: center;
        padding: 8px;
        font-size: 22px;
        font-weight: 500;
        background-color: rgb(118, 169, 220);
        border-radius: 5px;
        color: #bbdefb;
    }
}

.mainDiv {
    background-color: #ffe0b2;
}

.jokesMain {
    background-color: #b2ebf2;
    width: 400px;

    th {
        font-size: 32px;
    }

    .borderGif {
        border-bottom: 2px solid rgb(103, 103, 188);
    }

    .pun {
        text-align: center;
        font-size: 34px;
        font-weight: bold;
    }
}

.jokesText {
    display: flex;
    margin: auto;
    width: 900px;

    .dadJokes {
        background-color: #c8e6c9;
        width: 450px;

        .titleJoke {
            text-align: center;
            padding-top: 40px;
            font-size: 24px;
            font-weight: 700;
            color: #013441;
        }

        .border {
            font-size: 28px;
            padding: 40px;
            border-bottom: 1px solid #4db6ac;
            text-align: justify;
        }

        img {
            width: 450px;
            text-align: center;
        }
    }
}

.poznatiMain {
    margin: auto;
    display: flex;
    justify-content: space-around;
    border: 2px solid black;
    width: 1200px;
    height: 1650px;
}

.punapi {
    width: 500px;
    border-radius: 10px;
    background-color: #fff8e1;

    th {
        font-size: 28px;
        color: rgb(43, 127, 127);
        text-align: center;
    }

    td {
        font-size: 28px;
        padding: 2px 20px;
    }
}

.jokeMain {
    width: 450px;
    // height: 500px;
    margin: auto;
    background-color: #f9fbe7;
    padding: 20px 15px;

    .type {
        padding: 10px;
        font-size: 22px;
        font-weight: 600;
    }

    .imgYes {
        width: 440px;
    }

    .jokeAnswer,
    .jokeAns {
        font-weight: bold;
        font-size: 28px;
        color: #1a237e;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .jokeAnswer {
        &:hover {
            color: #ff8f00;
        }
    }
}

.pickTrivia {
    display: flex;
    justify-content: space-around;
    width: 900px;
    // height: 700px;
    margin: auto;
    background-color: #bdd8ee;
    padding: 30px 15px;

    .history {
        text-align: left;
        height: 20px;
        padding: 30px 0px;
        font-size: 24px;
        font-weight: bold;
        color: #014780;
    }

    .category {
        width: 300px;
        height: 40px;
        margin-top: 10px;
        background-color: #80deea;
        border-radius: 7px;
        font-size: 24px;
        padding: 5px 15px;
        cursor: pointer;

        &:hover {
            background-color: #26c6da;
        }
    }
}

.trivia {
    display: flex;
    flex-direction: column;
    width: 900px;
    // height: 1400px;
    margin: auto;
    background-color: #bdd8ee;
    padding: 30px 100px;

    .categ {
        font-size: 28px;
        font-weight: 600;
        padding: 20px;
        text-align: center;
    }

    .triviaAnswer {
        &:hover {
            color: #388e3c;
        }
    }

    .triviaAnswer,
    .triviaAns {
        font-weight: bold;
        font-size: 28px;
        color: #1a237e;
    }
}

.footer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    padding-top: 200px;
    height: 80px;
}

.metropolitanMain {
    font-family: Tahoma, sans-serif;
    margin: auto;
    width: 900px;
    border-collapse: collapse;
    background-color: rgb(241, 241, 225);

    .tableRow {
        display: flex;
        align-items: center;
        width: 900px;

        .imgMetro {
            width: 890px;
            border-radius: 5px;
            margin: auto;
        }
    }

    .results {
        text-align: center;
        background-image: linear-gradient(#FED8B1, rgb(241, 241, 225));
        padding: 15px 0px;
        font-size: 18px;
    }

    .metroTitle {
        text-align: center;
        font-weight: 700;
        font-size: 26px;
        padding: 10px;
    }

    .titleMetro {
        display: flex;
        justify-content: space-between;
        height: 180px;
        text-align: center;
        padding: 30px;
        color: rgb(151, 93, 1);
        font-weight: bold;
        font-size: 44px;
        background-image: linear-gradient(#FED8B1, rgb(228, 190, 96), rgb(241, 241, 225));
        flex-direction: column;
        align-items: center;
        font-family: 'Times New Roman', Times, serif;
    }

    .object {
        padding: 8px 15px;
        font-size: 24px;
    }

    .gift {
        padding: 8px 15px;
        font-size: 20px;
    }

    .forLink {
        text-align: center;
        font-size: 16px;
    }

    .dropdown {
        font-size: 30px;
        font-weight: bold;
        padding: 12px;
        text-align: center;
        width: 900px;
        color: rgb(151, 93, 1);
        position: relative;
        display: inline-block;
        cursor: pointer;

        .dropdown-content {
            display: none;
            font-size: 22px;
            font-weight: lighter;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 40px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            padding: 10px;

            p {
                padding: 5px;
            }

            a {
                font-size: 16px;
            }
        }

        &:hover {
            color: #fdc714;
            text-shadow: 2px 2px 7px black;
        }

        &:hover .dropdown-content {
            display: block;
            color: black;
            text-shadow: none;
        }
    }
}

.gridColor {
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    width: 900px;
    gap: 0px;
    background-image: linear-gradient(rgb(222, 211, 211), rgb(194, 213, 194));
    font-size: 18px;

    .dropdown {
        position: relative;
        display: inline-block;
        cursor: pointer;
        height: 150px;

        .dropdown-content {
            display: none;
            font-size: 22px;
            font-weight: lighter;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 145px;
            max-width: 145px;
            height: 150px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            padding-left: 5px;
            cursor: copy;
        }

        &:hover .dropdown-content {
            display: block;
            color: black;
            text-shadow: none;
        }
    }
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 300px;
    color: #84867b;
    cursor: pointer;
    border-radius: 5px;

    .arrowup {
        align-items: center;
        width: 30px;
        height: 25px;
        color: #7a9c99ac;
        background-color: rgba(222, 211, 211, 0.43);
        border-radius: 5px;
        border: solid 3px #95beba7c;
    }
}

@media screen and (max-width: 500px) {
    .navigator {
        width: 358px;

        .fixed {
            width: 358px;
        }
    }

    .home {
        width: 358px;

        .imgHold {
            width: 358px;
        }
    }

    .loader {
        width: 358px;
    }

    .paper {
        width: 260px;

        .base {
            font-size: 20px;
            color: #6a757e;
        }
    }

    .place {
        margin: auto;
        display: flex;
        flex-direction: column;
        width: 358px;
        height: 600px;

        .search {
            width: 260px;
        }

    }

    .jokesText {
        display: block;
        width: 358px;

        .dadJokes {
            width: 358px;

            .titleJoke {
                padding-top: 25px;
                font-size: 18px;
                font-weight: 600;
            }

            .border {
                font-size: 22px;
                padding: 25px;
            }

            .img {
                width: 358px;
            }
        }
    }

    .pickTrivia {
        display: block;
        width: 358px;
        justify-content: start;

        .history {

            font-size: 20px;
        }

        .category {
            font-size: 20px;
            height: 36px;
        }
    }

    .trivia {
        display: block;
        width: 358px;
        padding: 20px 15px;

        .categ {
            font-size: 22px;
            font-weight: 400;
            padding: 10px;
        }

        .triviaAnswer {
            font-size: 22px;
        }

        .triviaAns {
            font-size: 22px;
        }
    }

    .facts {
        font-size: 18px;
        text-shadow: 1px 1px 3px black;

        .table {
            width: 310px;

            tr {
                padding: 4px;
            }

            .category {
                font-size: 15px;
            }

            .author {
                font-size: 16px;
            }

        }
    }

    .jokeMain {
        width: 358px;
        border-radius: 0;

        .jokeAnswer {
            font-size: 22px;

        }

        .jokeAns {
            font-size: 22px;
        }

        .imgYes {
            width: 358px;
        }

    }

    .tabelaZemlje {
        width: 358px;

        .razmak {
            height: 20px;
        }

        .history,
        .historyPerson {
            font-size: 20px;
            height: 40px;
        }


        .celebrity {
            font-size: 18px;
            padding: 5px 0px;
            padding-left: 8px;
        }

        .phon {
            font-size: 22px;
            padding: 5px 0px;
            padding-left: 8px;
        }

        .logoImg {
            max-width: 200px;
        }

        .dictionary {
            padding: 3px 15px;
            font-size: 20px;
        }

        img {
            width: 358px;
        }

        .imgRobot {
            width: 200px;
        }

        .navod,
        .more {
            padding-left: 10px;
            font-size: 14px;
            width: 105px;
        }

        .statement {
            font-size: 16px;
          max-width: 60px;
            padding: 5px 10px;
        }

        .statement1 {
            font-size: 16px;
         
            padding: 5px;
        
        }

        .nameComm,
        .nameLink {
            padding-left: 4px;
            font-size: 16px;
            padding-right: 15px;
            width: 250px;
            overflow: hidden;
        }

        .nameComm2 {
            font-size: 16px;
            padding-top: 8px;
            max-width: 250px;
            min-width: 250px;
            padding-left: 4px;
            padding-right: 15px;
            vertical-align: bottom;
            overflow: hidden;
        }

        .location {
            width: 80px;
            font-size: 14px;
            padding: 5px 10px 3px 5px;
        }

        .nameLink {
            font-size: 18px;
        }

        .link {
            max-width: 220px !important;
            padding-left: 4px;

            a {
                font-size: 18px;
            }
        }

        .networth {
            font-size: 18px;
            padding-left: 10px;
        }

        .phonetics {
            font-size: 10px;
            border-radius: 3px;
            margin-left: 5px;
            max-width: 100px;

        }

        .colorHex {
            font-size: 18px;
            width: 160px;
            height: 40px;
        }

        .colorBut {
            width: 80px;
            border-radius: 7px;
            height: 35px;
            font-size: 18px;
            padding: 8px;
        }

        .results {
            font-size: 16px;
            width: 320px;
        }
    }

    .mainBook {
        width: 358px;

        .picture {
            max-width: 342px;
            padding: 8px;
        }

        .tags {
            width: 359px;
            font-size: 12px;
            gap: 8px;
            padding-bottom: 7px;
        }

        .total {
            font-size: 20px;
            padding: 15px;
        }

        .author {
            font-size: 22px;
            padding: 15px;
        }

        .titleBook {
            font-size: 22px;
            padding: 10px 15px;
        }

        .bornDate {

            font-size: 16px;
            padding: 8px 15px 0px 15px;
        }

        .imgBook {
            width: 350px;
        }

        .sentence {
            font-size: 18px;
            padding: 15px;
        }

        .subject {
            display: grid;
            grid-template-columns: auto auto;
            gap: 2px;
            padding: 10px;
            font-size: 12px;

            p {
                width: 170px;
                padding: 2px 5px;
            }

            .work {
                margin: 0;
                width: 170px;
                padding: 2px 5px;
            }
        }

        .publisher {
            padding: 4px 15px;
            font-size: 8px;
        }

        .moreCovers {
            cursor: pointer;
            font-size: 18px;
            padding: 4px;
        }

        .cover {
            display: none;
        }

        .coverOpen {
            width: 358px;
            padding: 4px;
            border: 1px solid #014780;

            display: grid;
            gap: 4px;
            grid-template-columns: auto auto auto;

            .imgCovers {
                width: 114px;
            }
        }
    }

    .listVideo {
        width: 358px;
        grid-template-columns: auto;

        .content {
            width: 358px;
            padding: 10px;

            img {
                width: 338px;
            }

            .titleVideo {
                font-size: 18px;
                padding: 10px;
            }

            .link {
                font-size: 14px;
            }
        }
    }

    .nytFont {
        width: 358px;
        font-size: 30px;
        padding: 15px;

        div {
            padding: 10px;
        }

        .archive {
            font-size: 24px;
        }
    }

    .tableNYT {
        width: 358px;

        .nytName {
            font-size: 20px;
            padding: 10px;
        }

        .nytTitle {
            font-size: 20px;
            font-weight: 700;
            padding: 20px;
        }

        .nytAbs {
            padding: 7px 15px;
            font-size: 18px;
        }

        .nytPar {
            padding: 5px 15px;
            font-size: 16px;
        }

        .nytDate {
            padding: 7px 20px;
            font-size: 10px;
        }

        .imgHold {
            padding-top: 10px;

            .nytImg {
                width: 358px;
            }
        }
    }

    .imageNum {
        width: 358px;

        .numbIm {
            padding: 7px;
            font-size: 18px;
        }

        .numbActIm {
            padding: 7px;
            font-size: 18px;
        }
    }

    .mainJoke {
        width: 358px;
        font-size: 20px;
    }

    .jokesMain {
        width: 358px;
        border-radius: 0;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

        th {
            font-size: 20px;
        }

        td {
            padding: 15px;
            font-size: 20px;

            img {
                width: 358px;
            }
        }

        .pun {
            font-size: 22px;
        }
    }

    .metropolitanMain {
        width: 358px;

        .tableRow {
            width: 358px;

            .imgMetro {
                width: 358px;
                border-radius: 2px;
            }
        }

        .results {
            padding: 6px 0px;
            font-size: 16px;
        }

        .metroTitle {
            width: 358px;
            text-align: center;
            font-weight: bold;
            font-size: 22px;
        }

        .titleMetro {
            padding: 12px;
            height: 140px;
            font-weight: bold;
            font-size: 32px;
            align-items: center;
        }

        .object {
            padding: 4px 15px;
            font-size: 18px;
        }

        .gift {
            padding: 4px 15px;
            font-size: 14px;
        }

        .forLink {
            text-align: center;
            font-size: 10px;
        }

        td {
            font-size: 17px;
            width: 335px;
            padding: 7px;
        }

        .dropdown {
            font-size: 24px;
            font-weight: bold;
            width: 358px;
            text-align: center;
            position: relative;
            display: inline-block;
            cursor: pointer;

            .dropdown-content {
                display: none;
                font-size: 18px;
                font-weight: lighter;
                position: absolute;
                background-color: #f9f9f9;
                min-width: 40px;
                max-width: 300px;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                padding: 10px;

                a {
                    font-size: 10px;
                }

            }

            &:hover {
                color: #fdc714;
                text-shadow: 2px 2px 7px black;
            }

            &:hover .dropdown-content {
                display: block;
                color: black;
                text-shadow: none;
            }
        }
    }

    .gridColor {
        grid-template-columns: auto auto auto auto;
        width: 358px;
        font-size: 16px;

        .dropdown {
            height: 87px;

            .dropdown-content {
                font-size: 16px;
                min-width: 82px;
                max-width: 82px;
                height: 87px;
            }
        }
    }

    .back-to-top {
        right: 20px;
    }

}